html, body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body, .app {
  background: white;
}

/* Page not found */

.page-not-found {
  margin: 2em auto;
  text-align: center;
  color: #999;
}

/* site header */

.site-header {
  padding: 10px 0;
  background: #001f3f;
  text-align: left;
	overflow: hidden;
  width: 100%;
  height: 70px;
	z-index: 9999;
}

.site-header h1 {
  font-weight: 400;
  margin: 0 0 0 10px;
  color: white;
	display: flex;
	align-items: center;
	text-align: center;
}

.site-header a {
	text-decoration: none !important;
}

.logo-text {
  background: #fff;
  margin-right: 5px;
  font-size: 50px;
  color: #001f3f;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  line-height: 50px;
}

/* Categories */

.categories > span {
  font-weight: 600;
}

.categories .btn {
  margin: 5px;
  text-transform: lowercase;
}

/* Category */
.category-header .category {
	font-size:18px;
	margin-left: 12px;
}

.category-header .back-arrow {
	cursor: pointer;
}

.back-arrow a {
	text-decoration: none !important;
	color: #001f3f !important;
}

.back-arrow svg {
	vertical-align: sub !important;
}

/* Posts Index */

.sort-form {
	padding: 0 0 15px 0;
  margin: 0 0 15px 0;
}

.sort-wrapper {
	float: right
}

.sort-wrapper select {
	margin: 0 0 0 5px;
}

/* Posts */

.post-wrapper-content {
  display: inline-block;
  vertical-align: top;
	font-size: .95em;
}

.post-title {
  font-size: 1.2em;
}

.post-title-details {
	font-size: 1.5em;
	color: #001f3f;
}

.post-details-body {
	margin-top: 1em;
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 15px;
}

.post-author {
  font-style: italic;
  font-weight: 600;
  color: #777;
}

.post-category a,
.post-category a:hover,
.post-comments a,
.post-comments a:hover {
  color: #777;
}

.post-comments {
  font-size: .9em;
	color: #777;
}

.edit-post {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
}

/* Comments */

.comment-body {
	color: #001f3f;
	font-weight: 500;
}

.comment-count {
	float: left;
	color: #777;
	font-weight: 600;
}

/* Vote Score */

.vote-score-wrapper {
  display: inline-block;
  width: 50px;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  margin-right: 8px;
}

.vote-score-wrapper svg {
  cursor: pointer;
}

.vote-score-up,
.vote-score-down,
.vote-score {
  text-align: center;
}

.vote-score-up {
  margin-top: -3px;
}

.vote-score-down {
  margin-top: -5px;
}

/* Add a Post */

.add-post {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.add-post a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2ECC40;
  background-image: url('../icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

/* Modal */
.mod-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.mod-content {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 300px;
	max-height: 350px 
}

/* bootstrap overrides */
.btn-primary {
	background-color: #001f3f !important;
	border-color: #001f3f !important;
}

.btn-primary:hover {
	background-color: #001f3f !important;
	border-color: #001f3f !important;
}

.btn-danger {
	background-color: #c9302c !important;
	border-color: #ac2925 !important;
}

.form-cancel-btn {
	background-color: #fff !important;
	border-color: #ccc !important;
}

.has-danger {
	color: #d44950;
}
